@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes slide-to-top {
    to {
      transform: translateY(-30px);
    }
  }

  @keyframes slide-from-bottom {
    from {
      transform: translateY(30px);
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@utility brutalism-border {
  border-radius: var(--radius-lg);
  border-width: 2px;
  border-color: var(--color-black);
  box-shadow: 4px 4px 0 0 var(--color-black);
}

@utility brutalism-border-accent {
  border-radius: var(--radius-lg);
  border-width: 2px;
  border-color: var(--color-black);
  box-shadow:
    4px 4px 0 0 var(--color-black),
    -6px -6px 0 0 var(--color-amber-500);
}

@layer base {
  a {
    @apply text-amber-600 underline underline-offset-4;
  }

  input,
  textarea,
  select {
    @apply min-w-0 brutalism-border py-2 px-4 disabled:opacity-65;
  }

  input,
  textarea {
    @apply read-only:opacity-65;
  }

  ::view-transition-old(root) {
    animation:
      fade-out 90ms cubic-bezier(0.4, 0, 1, 1) both,
      slide-to-top 300ms cubic-bezier(0.4, 0, 0.2, 1) both;
  }

  ::view-transition-new(root) {
    animation:
      fade-in 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both,
      slide-from-bottom 300ms cubic-bezier(0.4, 0, 0.2, 1) both;
  }

  #main-header {
    view-transition-name: header;
  }
}

@layer components {
  .btn {
    @apply text-black cursor-pointer brutalism-border inline-flex justify-center items-center py-1.5 px-4 gap-2 font-medium bg-white min-h-11 no-underline disabled:opacity-65 disabled:cursor-not-allowed;
  }

  .btn-icon {
    @apply size-11 text-2xl;
  }

  .btn-primary {
    @apply bg-amber-500 text-white;
  }

  .form-control {
    @apply flex flex-col gap-2;
  }

  .form-control > label {
    @apply font-medium;
  }
}
